.espaco{
    margin-top: 30px;
}

.espacofont{
    margin-top: 10px;
}


.titulo{
    margin-top: 50px;
}

.text-white {
    color: white
}

.text-red {
    color: red
}

.text-yellow {
    color: yellow
}

